n8n-data/workflows/resume_analyzer.json
{
  "name": "ResumeAnalyzer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "06d53210-950f-4546-9f00-6085cb8d611d",
      "name": "Webhook",
      "webhookId": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        220,
        -20
      ],
      "id": "aad4f723-0f21-4a21-96f8-f96ce2c060c5",
      "name": "Extract from File",
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert data extraction system. Your only job is to analyze the following resume text and create a single, valid JSON object with the requested information. Do not provide any conversational text, introductions, or explanations. Only output the raw JSON.\n\nFilename to Analyze: {{ $('Extract from File').item.json.filename }}\n\nResume Text to Analyze: {{ $('Extract from File').item.json.text }}\n\nRequired JSON Schema:\n\n```JSON\n\n\n\n{\n\n  \"full_name\": \"string\",\n\n  \"email\": \"string\",\n\n  \"phone\": \"string\",\n\n  \"skills\": [\"string array\"],\n\n  \"experience_years\": \"float\",\n\n  \"last_job_title\": \"string\"\n\n}\n\n```\n\nIf you cannot find a piece of information from the resume text, use a null value for that field. For 'experience_years', provide a number representing the total years."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        440,
        0
      ],
      "id": "1f8f4cff-f71e-4527-be99-7c48433e874e",
      "name": "Basic LLM Chain",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        540,
        220
      ],
      "id": "151cc2e5-31d8-463c-888f-3e4605689804",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "psa7rcvuB0mHYHY2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// The '$json' variable represents the object from the previous node, which we now know is { \"text\": \"...\" }.\nconst json = $json;\n\n// Check if the 'text' property exists. If not, something is wrong with the AI node's output.\nif (!json.text) {\n  throw new Error(\"Input from the Google AI node is missing the 'text' property. Check the previous step's output.\");\n}\n\n// The AI's response is a string that includes markdown code fences (```json ... ```).\n// We need to remove them to get a clean, parsable JSON string.\nconst rawAiResponse = json.text;\nconst cleanedString = rawAiResponse\n  .replace(\"```json\", \"\") // Remove the starting fence\n  .replace(\"```\", \"\")     // Remove the ending fence\n  .trim();                // Remove any leading/trailing whitespace or newlines\n\n// Now, parse the cleaned string into a usable JavaScript object.\ntry {\n  // We will attach the new, structured object to our main object under the key 'parsedData'.\n  json.parsedData = JSON.parse(cleanedString);\n} catch (error) {\n  // If parsing fails, it means the AI's response was not valid JSON.\n  console.error(\"CRITICAL: Failed to parse the following cleaned string as JSON:\", cleanedString);\n  throw new Error(`JSON Parsing Error: ${error.message}. The AI did not return valid JSON.`);\n}\n\n// Return the modified object. The next node will receive this enriched data.\nreturn json;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        0
      ],
      "id": "ea7bc13d-9696-460a-a891-eb40b4fd62cf",
      "name": "Code"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "resumes",
          "mode": "list",
          "cachedResultName": "resumes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "filename": "={{ $json.parsedData.filename }}",
            "full_name": "={{ $json.parsedData.full_name }}",
            "email": "={{ $json.parsedData.email }}",
            "phone": "={{ $json.parsedData.phone }}",
            "skills": "={{ $json.parsedData.skills }}",
            "experience_years": "={{ $json.parsedData.experience_years }}",
            "last_job_title": "={{ $json.parsedData.last_job_title }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "filename",
              "displayName": "filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "skills",
              "displayName": "skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            },
            {
              "id": "experience_years",
              "displayName": "experience_years",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_job_title",
              "displayName": "last_job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "uploaded_at",
              "displayName": "uploaded_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        960,
        0
      ],
      "id": "9da00bcf-39ed-4277-aa7b-55a122891e01",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "K9Z5Luur0xyJ15NJ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11aIp5iEz0D99yHzHLeVzg24Wy30BTYIMNgoixKSvJoo",
          "mode": "list",
          "cachedResultName": "ResumeAnalyzer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11aIp5iEz0D99yHzHLeVzg24Wy30BTYIMNgoixKSvJoo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 396215451,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11aIp5iEz0D99yHzHLeVzg24Wy30BTYIMNgoixKSvJoo/edit#gid=396215451"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.email }}",
            "Phone": "={{ $json.phone }}",
            "Skills": "={{ $json.skills.join() }}",
            "ExperienceYears": "={{ $json.experience_years }}",
            "LastJobTitle": "={{ $json.last_job_title }}",
            "UploadedAt": "={{ $json.uploaded_at }}",
            "id": "={{ $json.id }}",
            "FullName": "={{ $json.full_name }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FullName",
              "displayName": "FullName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skills",
              "displayName": "Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ExperienceYears",
              "displayName": "ExperienceYears",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LastJobTitle",
              "displayName": "LastJobTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UploadedAt",
              "displayName": "UploadedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1200,
        -100
      ],
      "id": "7ec09272-4310-489e-b9bd-49d40e622d54",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ScdhhVJonEG9Buu7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appkPJ6hDX0u63Cii",
          "mode": "list",
          "cachedResultName": "ResumeAnalyzer",
          "cachedResultUrl": "https://airtable.com/appkPJ6hDX0u63Cii"
        },
        "table": {
          "__rl": true,
          "value": "tblXbqMhCJVVGw8jL",
          "mode": "list",
          "cachedResultName": "ResumeAnalyzer",
          "cachedResultUrl": "https://airtable.com/appkPJ6hDX0u63Cii/tblXbqMhCJVVGw8jL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Full Name": "={{ $json.full_name }}",
            "Email": "={{ $json.email }}",
            "Phone": "={{ $json.phone }}",
            "Skills": "={{ $json.skills.join() }}",
            "Experience Years": "={{ $json.experience_years }}",
            "Last Job Title": "={{ $json.last_job_title }}",
            "UploadedAt": "={{ $json.uploaded_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Skills",
              "displayName": "Skills",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Experience Years",
              "displayName": "Experience Years",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Job Title",
              "displayName": "Last Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "UploadedAt",
              "displayName": "UploadedAt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1200,
        100
      ],
      "id": "2433ea7b-ba74-401a-8088-a7a59b70297f",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "l9nkBf44wLWk4Vo6",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2e4162e3-2d64-4ead-b0b3-3dc077410020",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5ea9521b8a2f6de0b7cf4df4d050a5a0118aaa33f257e44f91f9a6c60187e11"
  },
  "id": "ff7MV6PYM2ECLlXf",
  "tags": []
}